
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --primary-color: #20bfa9;
  --secondary-color: #000000;
  --background-color: #272727;
  --font-color: #ffffffbc;
  --ff-titulo: "Bricolage Grotesque", sans-serif;
  --ff-texto: "Rubik", sans-serif;;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
  font-family: var(--ff-texto);
}

.App {
  min-height: 100lvh;
}

ul {
  list-style: none;
}

html{
  scroll-behavior:smooth ;
}